In [1]:
# import libraries

# for processing data tables
import numpy as np
import pandas as pd

# for visualizations
import matplotlib.pyplot as plt
import seaborn as sns

# for sending requests to url and parsing
import requests
import json

import sys
sys.path.append('../')

from helper import request_data_kosis

import configparser
config = configparser.ConfigParser()
config.read('../../config.ini')

['../../config.ini']

## 1. City Product per Capita, Economic Density

## 2. Old Age Dependency Ratio

In [2]:
# working population = people ages 15 to 64
working_pop = ['15 - 19세',
               '20 - 24세',
               '25 - 29세', 
               '30 - 34세', 
               '35 - 39세', 
               '40 - 44세', 
               '45 - 49세', 
               '50 - 54세', 
               '55 - 59세', 
               '60 - 64세']

# old population = people ages 65 and over
old_pop = ['65 - 69세', '70 - 74세', '75 - 79세', '80세 이상']

In [3]:
df_oadr_hl = request_data_kosis(url = config['oadr']['hl_url'], target_period = '2021', index = ['C1','C1_NM'], columns = 'C3_NM', scale = 'hl')

# calculating people ages 15 to 64 and people ages 65 and over
df_oadr_hl['working_pop'] = df_oadr_hl.loc[:,working_pop].sum(axis = 1)
df_oadr_hl['old_pop'] = df_oadr_hl.loc[:,old_pop].sum(axis = 1)

# calculating old age dependency ratio
df_oadr_hl['oadr'] = df_oadr_hl['old_pop'] / df_oadr_hl['working_pop']

In [4]:
df_oadr_hl = df_oadr_hl.loc[:,['C1','C1_NM', 'oadr']]

In [5]:
df_oadr_hl.head()

   C1  C1_NM      oadr
0  11  서울특별시  0.221983
1  21  부산광역시  0.284877
2  22  대구광역시  0.238335
3  23  인천광역시  0.195436
4  24  광주광역시  0.200308

## 3. Mean Household Income

## 4 Economic Specialization

## 5. Unemployment Rate

In [6]:
# 광역지방자치단체
df_uer_hl = request_data_kosis(url = config['uer']['hl_url'], target_period = '2021', variable_name = 'uer')

# 기초지방자치단체
df_uer_ll = request_data_kosis(url = config['uer']['ll_url'], target_period = '202102', variable_name = 'uer')
df_uer_ll['period'] = '2021 2nd half'

In [7]:
print(df_uer_hl.shape)
df_uer_hl.head()

(17, 4)

   C1  C1_NM  uer period
0  11  서울특별시  4.8   2021
1  21  부산광역시  3.4   2021
2  22  대구광역시  3.7   2021
3  23  인천광역시  4.0   2021
4  24  광주광역시  3.6   2021

In [8]:
print(df_uer_ll.shape)
df_uer_ll.head()

(228, 4)

     C1   C1_NM  uer         period
0  1101  서울 종로구  4.0  2021 2nd half
1  1102   서울 중구  4.3  2021 2nd half
2  1103  서울 용산구  4.8  2021 2nd half
3  1104  서울 성동구  5.0  2021 2nd half
4  1105  서울 광진구  3.8  2021 2nd half

## 6. Employment to Population Ratio

In [14]:
df_epr_hl = request_data_kosis(url = config['epr']['hl_url'], target_period = '2021', variable_name = 'epr')
df_epr_ll = request_data_kosis(url = config['epr']['ll_url'], target_period = '202102', variable_name = 'epr')
df_epr_ll['period'] = '2021 2nd half'

In [15]:
print(df_epr_hl.shape)
df_epr_hl.head()

(17, 4)

   C1  C1_NM   epr period
0  11  서울특별시  59.2   2021
1  21  부산광역시  56.2   2021
2  22  대구광역시  58.2   2021
3  23  인천광역시  61.3   2021
4  24  광주광역시  58.2   2021

In [16]:
print(df_epr_ll.shape)
df_epr_ll.head()

(228, 4)

     C1   C1_NM   epr         period
0  1101  서울 종로구  56.1  2021 2nd half
1  1102   서울 중구  55.9  2021 2nd half
2  1103  서울 용산구  59.5  2021 2nd half
3  1104  서울 성동구  56.4  2021 2nd half
4  1105  서울 광진구  57.5  2021 2nd half

## 7. Informal Employment

In [17]:
# 
df_ie_hl = request_data_kosis(config['ie']['hl_url'], target_period = '2021', variable_name = 'ie')

In [18]:
df_ie_hl.head()

   C1  C1_NM    ie period
0  11  서울특별시  38.5   2021
1  21  부산광역시  41.1   2021
2  22  대구광역시  38.3   2021
3  23  인천광역시  37.1   2021
4  24  광주광역시  40.0   2021